<h1>Alla resurser</h1>

<% @resources.each do |resource| %>

<%= link_to resource.namn, resource.url%></br>
<%=  resource.description%></br>
<%=  resource.url%></br>
<%=  resource.created_at%></br>
<%=  resource.user_id%></br>



	<!-- Användare till varje resurs -->
	


	<!--Licenstyp till varje resurs-->
				<!--TODO-->

	<!--Resurstyp till varje resurs-->
				<!--TODO-->

	<!--Tagg till varje resurs-->
				<!--TODO-->


<% end %>