<h1>Alla resurser</h1>

<% @resources.each do |resource| %>

<%= link_to resource.namn, resource.url%></br>
<%=  resource.description%></br>
<%=  resource.url%></br>
<%=  resource.created_at%></br>
<%=  resource.user.firstname%></br>
<%=  resource.resource_tag_id%></br>
<%=  resource.licence.licence_typ%></br>
<%=  resource.resource_type.resource_type%></br></br></br>

	<!--Tagg till varje resurs-->
				<!--TODO-->


<% end %>